@import "https://js.arcgis.com/4.23/@arcgis/core/assets/esri/themes/dark/main.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#container {
  position: relative;
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#sidebar {
  width: 25%;
  height: calc(100vh - 40px);
  padding: 20px 10px;
}

#mapview {
  width: 75%;
  height: calc(100vh - 40px);
  background-color: red;
  padding: 20px 10px;
}

#viewDiv {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
}

#search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

#search-container > * {
  padding: 5px 10px;
  border: 2px solid white;
  outline: none;
  margin-right: 5px;
  font-size: 1.1em;
  transition: all 200ms ease-in-out;
  border-radius: 2px;
}

#search-box {
  border: 2px solid white;
  margin-right: 5px;
  width: 60%;
}

#submit {
  border: 2px solid red;
  background-color: red;
  color: white;
  cursor: pointer;
}

#submit:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#search-box:focus {
  border: 2px solid red;
  background-color: #282c34;
  color: white;
}
#submit:hover {
  border: 2px solid red;
  background-color: transparent;
  color: red;
}

.countries {
  height: 90vh;
  /* padding-bottom: 10px; */
  overflow-y: scroll;
}

.countries h4 {
  text-align: left;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  margin: 0;
  padding: 10px 15px;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

.countries h4:hover {
  background-color: red;
}

h4:last-child {
  border-bottom: 2px solid white;
}

@media screen and (max-width: 600px) {
  #mapview {
    width: 100%;
  }

  #sidebar {
    width: 80%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    height: auto;
  }

  .countries {
    background-color: #282c34;
    height: auto;
    max-height: 90vh;
  }

  .hide {
    display: none;
  }

  p {
    display: none;
  }
}
